<div class="container-fluid">
  certificates-page works!
  <button type="submit" class="btn btn-success" (click)="getCertificates()">Submit</button>
  <button type="submit" class="btn btn-success" (click)="print()">Print</button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">nr</th>
      <th scope="col">date</th>
      <th scope="col">specialization</th>
      <th scope="col">name</th>
      <th scope="col">studyYear</th>
      <th scope="col">universityYear</th>
      <th scope="col">frequency</th>
      <th scope="col">mentions</th>
      <th scope="col">purpose</th>
      <th scope="col">status</th>
      <th scope="col">Update</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let certificate of certs">
      <th scope="row">{{certificate.nr}}</th>
      <th scope="row">{{certificate.created | date : 'medium'}}</th>
      <th scope="row">{{certificate.specialization}}</th>
      <th scope="row">{{certificate.name}}</th>
      <th scope="row">{{certificate.studyYear}}</th>
      <th scope="row">{{certificate.universityYear}}</th>
      <th scope="row">{{certificate.frequency}}</th>
      <th scope="row">{{certificate.mentions}}</th>
      <th scope="row">{{certificate.purpose}}</th>
      <th scope="row">
        <form [formGroup]="statusForm">
          <div class="form-group">
            <select class="custom-select" [ngModel]="certificate.status" formControlName="status" required>
              <option value="pending">Pending</option>
              <option value="signing">Signing</option>
              <option value="ready">Ready</option>
              <option value="ready">Rejected</option>
            </select>
          </div>
        </form>
      </th>
      <th scope="row">
        <button type="submit" class="btn btn-success" (click)="send(certificate,certificate.status)" >Send</button>
      </th>
    </tr>
    </tbody>
  </table>

</div>

