/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.wrapper{
  height: 100vh;
  //background-image: url("assets/background.png");
  color: #696969;
  background-color: #f2f2f2;
}
