/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper{
  height: 100vh;
  //background-image: url("assets/background.png");
  color: #696969;
  background-color: #f2f2f2;
}

.container{
  height: 100vh;
}

.h1 {
  margin-bottom: 25px;
}

.inner-wrapper{
  border-radius: 20px;
  border-color: black;
  background: #9da6af;
  padding: 25px;
  box-shadow: 11px 13px 15px 3px rgba(46,38,46,0.75);
}
