<div class="container centered" >
  <h1>Request Certificate</h1>
  <form [formGroup]="loginForm">
    <div class="form-group" >
      <select class="custom-select" formControlName="specialisation" required>
        <option value="cti">CTI</option>
        <option value="is">IS</option>
        <option value="cti-en">CTI-EN</option>
        <option value="info">INFO</option>
      </select>
    </div>

    <div class="form-group" >
      <label for="name">name</label>
      <input type="text" class="form-control" id="name" formControlName="name" required>
    </div>
    <div class="form-group" >
      <label for="mentions">mentions</label>
      <input type="text" class="form-control" id="mentions" formControlName="mentions" required>
    </div>
    <div class="form-group" >
      <label for="purpose">purpose</label>
      <input type="text" class="form-control" id="purpose" formControlName="purpose" required>
    </div>
    <div class="form-group" >
      <label for="study_year">study-year</label>
      <input type="text" class="form-control" id="study_year" formControlName="study_year" required>
    </div>
    <div class="form-group" >
      <label for="course_type">course_type</label>
      <input type="text" class="form-control" id="course_type" formControlName="course_type" required>
    </div>
    <button type="submit" class="btn btn-success" (click)="send()">Submit</button>

  </form>
</div>
