<div class="container centered" >
  <div class="form1">
  <h1>Request Certificate</h1>
  <form [formGroup]="loginForm" >

    <div class="form-group" >
      <label for="mentions">mentions</label>
      <input type="text" class="form-control" id="mentions" formControlName="mentions" required>
    </div>
    <div class="form-group" >
      <label for="purpose">purpose</label>
      <input type="text" class="form-control" id="purpose" formControlName="purpose" required>
    </div>
    <button type="submit" class="btn btn-success" (click)="send()">Submit</button>

  </form>
  </div>
</div>
